###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
# npm
/node_modules/

# assets
/public/js/
###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
/build/test_results/
###< phpunit/phpunit ###
