<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="container">
        <h2>Star Wars API Consumer</h2>

        {% block body %}{% endblock %}
    </div>

    <script src="{{ asset('js/dist/main.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
